@charset "UTF-8";

a {
    color: lightslategrey;
    text-decoration: none;
}

body {
    background-color: #F2F2F2;
    color: white;
    font-family:'Andale Mono', serif;
    font-size: .8em;

}

h1, h2, span, li, footer {
    color: lightslategrey;
}

h2{
  margin-bottom: 10px;
}

div {
    width: 33%;
    float: left;
    margin-left: 118px;
    border-style: none;
}


#mySketch{
  background-color: orange;
  width: 800px;
  height: 200px;
  margin-top: 30px;
}

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}


section {
    width: 700px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}