@import 'https://fonts.googleapis.com/css?family=Lora:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import 'https://fonts.googleapis.com/css?family=Fauna+One:400,700';
@import 'https://fonts.googleapis.com/css?family=Khula:400,700';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300;
	letter-spacing: 0.025em;
  min-height: 100%;
  overflow-y: scroll;
  /* overflow-y: hidden; */
}

body {
  /* background-image: linear-gradient(120deg, #9890e3 0%, #b1f4cf 100%); */
  color: #566B78;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0; height: 100%; overflow: hidden
  /* padding: 5%; */
}
a {
  color: #000000;
}
strong {
	font-weight: bold;
}

em {
	color: lighten( $color-black, 40% );
	font-style: italic;
}

nav ul {
  margin: 1rem 0;
  margin-bottom: 3em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

nav a {
  margin: 0 1rem;
  color: #566B78;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.app>* {
  display: none;
}

.app>*:last-child {
  display: block;
}

.app>*:target {
  display: block;
  -webkit-animation: fade 300ms linear 1;
  animation: fade 300ms linear 1;
}

.app>*:target~* {
  display: none;
}

h1, h2, strong {
  color: #333;
  font-family: 'Roboto';
}

main, #the-default-view{
  height: 100%;
  width: 100%;
}

#logo{
  width: 17%;
  height: 14%;
  /* background-color: red; */
  position: relative;
  left: 6%;
  top: 5%;
  font-family: 'OpenSans'

}

#welcome{
  position: relative;
  font-family: 'Khula';
  font-weight: 700;
  color: black;
  text-align: center;
}

#expression{
  position: relative;
  font-family: 'Khula';
  font-weight: 700;
  color: black;
  text-align: center;
  font-size: 25px;
}



#subtext{
  position: relative;
  font-size: 14px;
  font-family: 'OpenSans';
  top: -17%;
}

p{
  font-family: 'Open Sans';
}

header {
  background-color: gray;
  line-height: 1.2;
  padding: 8vw 2em;
  text-align: center;
}

header h1 {
  color: #FFFFFF;
  font-size: 2.5em;
  text-transform: uppercase;
}

header a {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: none 200ms;
  transition: none 200ms;
  -webkit-transition-property: color, background, border;
  transition-property: color, background, border;
}

header a:hover {
  background: crimson;
  border-color: crimson;
}


/*CONTAINERS*/

.container {
  margin: 0 auto;
  max-width: 86%;
  height: 73%;
  /* position: absolute; */
  /* padding: 3em 2em; */
  padding-left: 19%;
}


.picture-container{
  width: 358px;
  height: 299px;
  display:inline-block;
}


.bottomright{
  position: absolute;
  bottom: 12%;
  right: 16.5%;
}

/*BUTTON*/
.button {
  position: relative;
  float: right;
  top: -17%;
  height: 3%;
  left: -21%;
  margin-top: 10px;
  display: inline-block;
  padding: 5px 21px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
}


textarea {
  outline: none;
  border: 1px solid #fff;
  /* background-color: #f8f9fa; */
  background-color: white;
  width: 49%;
  height: 66%;
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  line-height: 1.5;
  padding: 4px;
  padding-top: 2px;
  padding-left: 10px;
  left: -4px;
  position: relative;
  box-shadow: 0px -1px 20px 1px rgba(0, 0, 0, 0.2);
}

ol li {
  margin-left: 10%
  /* font-size: 20px; */
}

#explanation{
  display: none;
  /* position: relative; */
  margin: 0 auto;
  max-width: 50em;
  height: 21.6em;
  /* position: relative; */
}

aside {
  height: 44%;
  width: 30%;
  position: absolute;
  /* margin: auto; */
  top: 29%;
  /* left: 33%; */
  left: 19%;
  bottom: -64px;
  right: 0;
  box-shadow: 0px -1px 20px 1px rgba(0, 0, 0, 0.2);
}

#d1 {
  /* display: none; */
  background: white;
  z-index: 30;
  /* animation: slideRight 1.1s ease-in-out; */
  animation-fill-mode: forwards;
  animation-delay: 1.0s;

}

#d3 {
  display: none;
  background: #A6D9FF;
  z-index: 10;
  animation: slideRight 1.1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.0s;
  /* width: 35%; */
}


#demo{
  padding: 30px;
}


/*HIGHLIGHT*/
.link-1 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.link-1::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: #00B388;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

.link-1:hover {
    color: white;
  }

.link-1:hover::after {
      height: 100%;
}

.link-1:hover::after {
      height: 100%;
}

.highlight{
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  color: white;
  background: #00B388;
  content: '';
  z-index: -1;
  width: 100%;
  height: 10%;
  left: 0;
  bottom: 0;
  background-color: #00B388;
}
#t-explanation{
  padding: 27px;
  margin: 11%;
  margin-top: 6%;
  font-family: 'Fauna One';
  font-size: 15px;
  line-height: 1.7;
  text-align: left;

}


/*KEYFRAMES*/


@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-398px);
  }
}

@keyframes slideLeft2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(44px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(628px);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


/*footer*/

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}

footer a:link {
  text-decoration: none;
  color: silver;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 15px;
}

footer a:visited {
  text-decoration: none;
  color: silver;
}
